div.ui.segment.Questions {
    max-width: 40%;
    margin: 0 auto;
}
@media screen and (max-width: 900px){
    div.ui.segment.Questions {
        max-width: 90%;
    }
}

.Question-title {
    font-size: x-large;
}

.Question-answer {
    display: flex;
    flex-direction: column;
    .Question-answer_Button {
        display: flex;
        flex-direction: row;
        max-width: fit-content;
        margin-bottom: .5rem;
    }
}