.ui.menu .item>img:not(.ui) {
    width: 8rem;
}

.ui.menu .active.item {
    background-color: white;
}

#root>main>div>div>nav>div>a {
    border-right: solid 1px #ddd;
}

@media screen and (max-width: 750px) {
    .Header {
        max-height: 50px;
    }

    .ui.menu .item>img:not(.ui) {
        width: 5rem;
    }
}