@import '../../index.scss';
#root > main > div{
    background-color: $background-color;
    box-shadow: none;
    border-bottom: none;
}
#Divider-Header{
    z-index: 1;
    position: absolute;
    bottom:-10px;
    width:98%;
    margin-left:1%;
    border: 5px solid $primary-color;
    border-radius: 15px;
}

#root > main > div > a{
    background-color: $background-color;
}
.ui.menu .item {
    padding:.7rem;
}
.ui.menu .item>img:not(.ui) {
    width: 8rem;
}

.ui.menu .active.item {
    background-color: white;
}

#root>main>div>div>nav>div>a {
    border-right: solid 1px #ddd;
}

@media screen and (max-width: 900px) {
    .Header {
        max-height: 50px;
    }
    #Divider-Header{
        top:50px;   
    }

    .ui.menu .item>img:not(.ui) {
        width: 6rem;
    }
}

.ui.menu .item>img:not(.ui):hover {

    animation: .5s ease-out 0s both logo_move;
}

@keyframes logo_move { from { filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(169deg) brightness(96%) contrast(101%); } to { filter: invert(38%) sepia(19%) saturate(4817%) hue-rotate(160deg) brightness(60%) contrast(89%); }  }