.Terms{


    .ui.dividing.header {
        font-size: xxx-large;
        font-family: 'Courier New', Courier, monospace;
        text-transform: uppercase;
    }

    .article-header{
        padding-bottom: 1rem;
    }
    
    p {
        font-size: large;
    }
}