.About-main {
    margin: 10rem 30rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
}

