.Profil {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.ui.labeled.input:not([class*="corner labeled"]) .label:first-child {
    width: 10rem;
    padding: 20px;
    font-size: 1.2rem;
}

.Pseudo-label {
    padding: 20px;
    font-size: 1.2rem;
}

.Pseudo-input {
    margin: 0 0 1.5rem 0;
}

.Pwd-label {
    padding: 20px;
    font-size: 1.2rem;
}
